<a href="https://colab.research.google.com/github/AbdulmalikGiwa/Coursera_Capstone/blob/master/Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##COURSERA CAPSTONE NOTEBOOK
#This notebook would be for the coursera capstone project

In [0]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [3]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [0]:
from bs4 import BeautifulSoup
import requests

This section comprises of the extraction of the table from a given URL using requests and BeautifulSoup libraries, after which the table is converted to a pandas dataframe

In [0]:
wiki_source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(wiki_source, 'lxml')
#print(soup.prettify())

In [6]:
table = soup.find('table')
rand = table.tbody.tr.text
print(rand)

Postal code

Borough

Neighborhood

In [7]:
df = pd.read_html(str(table))[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [8]:
drop_con = df.loc[df['Borough']=='Not assigned']
df.drop(drop_con.index, axis=0, inplace= True)
df

    Postal code  ...                                       Neighborhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                         Regent Park / Harbourfront
5           M6A  ...                  Lawrence Manor / Lawrence Heights
6           M7A  ...       Queen's Park / Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...    The Kingsway / Montgomery Road / Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...              Business reply mail Processing CentrE
169         M8Y  ...  Old Mill South / King's Mill Park / Sunnylea /...
178         M8Z  ...  Mimico NW / The Queensway West / South of Bloo...

[103 rows x 3 columns]

In [0]:
df = df.reset_index()

In [10]:
df.head()

   index  ...                                  Neighborhood
0      2  ...                                     Parkwoods
1      3  ...                              Victoria Village
2      4  ...                    Regent Park / Harbourfront
3      5  ...             Lawrence Manor / Lawrence Heights
4      6  ...  Queen's Park / Ontario Provincial Government

[5 rows x 4 columns]

In [11]:
df.columns

Index(['index', 'Postal code', 'Borough', 'Neighborhood'], dtype='object')

In [0]:
df= df.drop(['index'], axis=1)

In [13]:
df.head(10)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5         M9A         Etobicoke                              Islington Avenue
6         M1B       Scarborough                               Malvern / Rouge
7         M3B        North York                                     Don Mills
8         M4B         East York              Parkview Hill / Woodbine Gardens
9         M5B  Downtown Toronto                      Garden District, Ryerson

In [14]:
df.loc[df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [15]:
df.isna().sum()

Postal code     0
Borough         0
Neighborhood    0
dtype: int64

In [16]:
df.shape

(103, 3)

In [17]:
df['Neighborhood'].value_counts()

Downsview                                                      4
Don Mills                                                      2
Willowdale                                                     2
Del Ray / Mount Dennis / Keelsdale and Silverthorn             1
Milliken / Agincourt North / Steeles East / L'Amoreaux East    1
                                                              ..
York Mills / Silver Hills                                      1
Dorset Park / Wexford Heights / Scarborough Town Centre        1
University of Toronto / Harbord                                1
Woodbine Heights                                               1
Forest Hill North & West                                       1
Name: Neighborhood, Length: 98, dtype: int64

In [0]:
#!pip install geocoder
#import geocoder

In [0]:
##for i in df['Postal code'] :
  #lat_lng_coord = None
  #while(lat_lng_coord is None):
   # g = geocoder.google('{}, Toronto, Ontario'.format(i))
    #lat_lng_coord = g.latlng 

  #df['latitude'] = lat_lng_coord[0]
  #df['longitude'] = lat_lng_coord[1]

An already existing dataset from a URL, consisting of the latitude and longitude of each postal code is imported and used the find the lat and long values for the original dataset

In [0]:
!wget -q -O 'lat_lng.csv' https://cocl.us/Geospatial_data

In [21]:
lat_lng = pd.read_csv('lat_lng.csv')
lat_lng.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [0]:
#for i in df['Postal code'] :
 # lat_lng.loc[lat_lng['Postal Code']==i, 'Latitude'].item()
  lat_map = lat_lng.set_index('Postal Code')['Latitude'].to_dict()
  lng_map = lat_lng.set_index('Postal Code')['Longitude'].to_dict()
  df['Latitude'] = df['Postal code'].map(lat_map)
  df['Longitude'] = df['Postal code'].map(lng_map)

In [23]:
df.head()

  Postal code           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]