<a href="https://colab.research.google.com/github/AbdulmalikGiwa/Coursera_Capstone/blob/master/Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##COURSERA CAPSTONE NOTEBOOK
#This notebook would be for the coursera capstone project

In [0]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [3]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [0]:
from bs4 import BeautifulSoup
import requests

In [0]:
wiki_source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(wiki_source, 'lxml')
#print(soup.prettify())

In [6]:
table = soup.find('table')
rand = table.tbody.tr.text
print(rand)

Postal code

Borough

Neighborhood

In [7]:
df = pd.read_html(str(table))[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [8]:
drop_con = df.loc[df['Borough']=='Not assigned']
df.drop(drop_con.index, axis=0, inplace= True)
df

    Postal code  ...                                       Neighborhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                         Regent Park / Harbourfront
5           M6A  ...                  Lawrence Manor / Lawrence Heights
6           M7A  ...       Queen's Park / Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...    The Kingsway / Montgomery Road / Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...              Business reply mail Processing CentrE
169         M8Y  ...  Old Mill South / King's Mill Park / Sunnylea /...
178         M8Z  ...  Mimico NW / The Queensway West / South of Bloo...

[103 rows x 3 columns]

In [0]:
df = df.reset_index()

In [10]:
df.head()

   index  ...                                  Neighborhood
0      2  ...                                     Parkwoods
1      3  ...                              Victoria Village
2      4  ...                    Regent Park / Harbourfront
3      5  ...             Lawrence Manor / Lawrence Heights
4      6  ...  Queen's Park / Ontario Provincial Government

[5 rows x 4 columns]

In [11]:
df.columns

Index(['index', 'Postal code', 'Borough', 'Neighborhood'], dtype='object')

In [0]:
df= df.drop(['index'], axis=1)

In [13]:
df.head(10)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5         M9A         Etobicoke                              Islington Avenue
6         M1B       Scarborough                               Malvern / Rouge
7         M3B        North York                                     Don Mills
8         M4B         East York              Parkview Hill / Woodbine Gardens
9         M5B  Downtown Toronto                      Garden District, Ryerson

In [14]:
df.loc[df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [15]:
df.isna().sum()

Postal code     0
Borough         0
Neighborhood    0
dtype: int64

In [16]:
df.shape

(103, 3)